* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
    width: 5px;
    scroll-behavior: smooth;
}
::-webkit-scrollbar-track {
    background: #bfbfbf;
}
::-webkit-scrollbar-thumb {
    background: #636363;
    border-radius: 5px;
}  
::-webkit-scrollbar-thumb:hover {
    background: #242424;
}
:root {
    --background-color: #fff;
}
.dark {
    --background-color: #000;
}/*  */
h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
p, a{
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
}
/* Barra de navegação*/
header {
    background-color: #242424; 
    position: fixed;
    top: 0;
    height: 70px; /*change to 70px*/
    width: 100%;
    transition: top 0.7s;
    z-index: 2;
    
}
/*dependendo do tamanho da logo vai ter que mudar aki e no scrip da barra tbm*/

nav {
    height: 70px; /*change to 70px*/
    width: 100%;
    z-index: 2;
    display: flex;
    align-self: center;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    padding: 0;
}
nav ul li {
    display: inline;
    list-style: none;
    margin: 1px 10px;
}
nav ul li a {
    color: #ffffff;
    text-decoration: none;
    transition: all 0.3s ease;
}
nav ul li a:hover {
    color: aqua;
}
/*droopdown*/
.droopdown-grid-objeto:hover .droopdown-grid-items, .droopdown-grid-items:hover {
    display: inline-flex;
}
.droopdown-grid-items {
    display: none; 
    position: fixed;
    right: 0;
    width: 12.5em;
    flex-direction: column;
    margin-top: 2.7em;
    padding-bottom: 10px;
    background-color: #242424;
    border-radius: 0 0 0 15px;
    gap: 5px;
}
.droopdown-grid-objeto {
    padding-bottom: 1.7em;
}
.droopdown-grid-items li {
    list-style: none;
}
.droopdown-grid-items li a {
    color: #ffffff;
    text-decoration: none;
    transition: all 0.3s ease;
}
.droopdown-grid-items li a:hover {
    color: aqua;
}
/*footer grid*/
footer {
    background-color: #242424; 
    padding: 50px 0;
}
footer ul {
    list-style: none;
}
.F-objeto {
    max-width: 1170px;
    margin: auto;
}
.F-linha {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.F-coluna {
    width: 25%;
    padding: 0 15px;
}
.F-coluna h1 {
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    position: relative;
}
.F-coluna h1::before {
    position: absolute;
    content: '';
    left: 0;
    bottom: -5px;
    height: 2px;
    width: 40px;
    background-color: red;
    box-sizing: border-box;
}
.F-coluna ul li:not(:last-child) {
    margin-bottom: 10px;
}
.F-coluna ul li a {
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    display: block;
    transition: all 0.3s ease;
}
.F-coluna ul li a:hover {
    color: aqua;
    padding-left: 10px;
}
.F-logo {
    max-height: 150px;
    max-width: 150px;
}
/*responsividade index*/
 @media(max-width: 767px){
    .F-coluna {
        width: 50%;
        margin-bottom: 30px;
    } 
 }
 @media(max-width: 574px){
    .F-coluna {
        width: 100%;
    }
 }

 /*responsividade cmt*/
 @media(max-width: 768px){
    .div-style {
        grid-auto-flow: row;
    }
    section h2 {
        text-align: center;
    }
    .div-style p {
        text-align: left;
    }
 }
 @media(max-width: 550px){
    .div-style {
        justify-items: center;
    }
 }
 @media(max-width: 768px){
    .div-style p {
        text-align: justify;
}
 }