/* -- REGRAS GLOBAIS -- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
    width: 5px;
    scroll-behavior: smooth;
}
::-webkit-scrollbar-track {
    background: #bfbfbf;
}
::-webkit-scrollbar-thumb {
    background: #636363;
    border-radius: 15px;
}  
::-webkit-scrollbar-thumb:hover {
    background: #242424;
}
:root {
  --hue: 9;
  
  --header-background-color: hsl(var(--hue) 0% 10%);
  --header-text-color: hsl(var(--hue) 100% 100%);
  --logo-color: hsl(var(--hue) 100% 64%);
  --background-color: hsl(var(--hue) 100% 100%);
  --body-text-color: hsl(var(--hue) 0% 0%);
}
/* -- END -- */

/* -- DARK MODE -- */
.dark {
    --background-color: #000;
}
/* -- END -- */


h1{
  color: var(--header-text-color);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
p, a{
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    text-decoration: none;
}


/* -- HEADER STYLES -- */
#header-style {
  color: var(--logo-color);
}
#header-animation {
  position: fixed;
  width: 100%;
  top: 0;
  transition: top 0.7s;
  z-index: 3;
}
#header {
  box-sizing: border-box;
  height: 70px;
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--header-background-color);
  z-index: 2;
}
#header .header-h1{
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  margin-left: 1rem;
}
#header .header-h1 svg{
  padding-right: 0.15rem;
}

#menu a:hover{
  color: var(--logo-color);
  transition: all 0.3s ease;
}

#compass{
  fill: var(--header-text-color);
}
#moon {
  cursor: pointer;
  fill: var(--header-text-color);
}
#moon:hover{
  fill: var(--logo-color);
}
#menu {
  display: flex;
  list-style: none;
  gap: 0.5rem;
  align-items: center;
}
/*MUDANÇAS MUITO ESPECIFICAS*/
.travel {
  padding-left: .2em;
}
/* -- DROPDOWN MENU -- */
  .droopdown-grid-objeto:hover .droopdown-grid-items, .droopdown-grid-items:hover {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 300ms;
  }
  .droopdown-grid-items {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 300ms;
    position: fixed;
    display: inline-flex;
    right: 0;
    width: 10em;
    flex-direction: column;
    margin-top: 2.7em;
    padding-bottom: 10px;
    border-radius: 0 0 0 15px;
    gap: 5px;
    box-sizing: border-box;
    background-color: var(--header-background-color);
    margin: 0;
    top: 4.3em;
  }
  .pag-bottom {
    cursor: pointer;
    padding-bottom: 1.6em;
  }
  .droopdown-grid-items li {
    list-style: none;
    margin: 0 0 .1em .5em;
  }
  .droopdown-grid-items li:first-child {
    margin-top: .5em;
  }
  .droopdown-grid-items li a {
    transition: all 0.3s ease;
  }
  /* -- END -- */
  
  
  #mobile-menu {
    display: none;
  }
  /*paginas mob e web*/
  Paginas {
    display: block;
  }
  #paginas-mobile {
    display: none;
  }
  #menu a {
    color: var(--header-text-color);
    text-decoration: none;
    font-family: sans-serif;
  }

  @media (max-width: 768px) {
    header:not(#moon) {
      margin: 0;
      padding: 0;
    }
  .landing {
    position: relative;
    top: 4.3em;
  }
  #menu a, #moon {
      display: block;
      padding: 0.5rem;
    }

    #menu {
      display: block;
      position: absolute;
      width: 100%;
      top: 70px;
      right: 0px;
      background: var(--header-background-color);
      transition: 0.6s;
      z-index: 1000;
      height: 0px;
      visibility: hidden;
      overflow-y: hidden;
      
    }
    #nav.active #menu {
      height: calc(100vh - 70px);
      visibility: visible;
      overflow-y: auto;
    }
  
    #menu a, #moon {
      padding: 1rem 0;
      margin: 0 1rem;
      border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    }
    #mobile-menu {
      display: flex;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      border: none;
      background: none;
      cursor: pointer;
      gap: 0.5rem;
    }
    #mobile-span {
      border-top: 2px solid;
      width: 20px;
      color: var(--header-text-color);
    }
    #mobile-span::after, #mobile-span::before {
      content: '';
      display: block;
      width: 20px;
      height: 2px;
      background: currentColor;
      margin-top: 5px;
      transition: 0.3s;
      position: relative;
    }
    #nav.active #mobile-span {
      border-top-color: transparent;
    }
    #nav.active #mobile-span::before {
      transform: rotate(135deg);
    }
    #nav.active #mobile-span::after {
      transform: rotate(-135deg);
      top: -7px;
    }
    /*paginas mob e web*/
    #Paginas {
      display: none;
    }
    #paginas-mobile {
      display: block;
    }
    a:hover {
      background: rgba(0, 0, 0, 0.05);
    }
  }
/* -- END -- */

/* -- FOOTER STYLES -- */
footer {
    background-color: var(--header-background-color); 
    padding: 50px 0;
}
footer ul {
    list-style: none;
}
.F-objeto {
    max-width: 1170px;
    margin: auto;
}
.F-linha {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.F-coluna {
    width: 50%;
    padding: 0 15px;
}
.F-coluna h1 {
    color: var(--header-text-color);
    text-transform: capitalize;
    margin-bottom: 30px;
    position: relative;
}
.F-coluna h1::before {
    position: absolute;
    content: '';
    left: 0;
    bottom: -5px;
    height: 2px;
    width: 40px;
    background-color: var(--logo-color);
    box-sizing: border-box;
}
.F-coluna ul li:not(:last-child) {
    margin-bottom: 10px;
}
.F-coluna ul li a {
    color: var(--header-text-color);
    text-decoration: none;
    text-transform: capitalize;
    display: block;
    transition: all 0.3s ease;
}
.F-coluna ul li {
    color: var(--header-text-color);
    text-transform: capitalize;
    display: block;
}
.F-coluna ul li a:hover {
    color: var(--logo-color);
    padding-left: 10px;
}

.F-coluna p{
  color: var(--header-text-color);
}

.F-logo {
    max-height: 150px;
    max-width: 150px;
}
/* -- END -- */
