/*css*/
/*Regras para todo o site*/
body {
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #bfbfbf;
}
::-webkit-scrollbar-thumb {
    background: #636363;
    border-radius: 5px;
}  
::-webkit-scrollbar-thumb:hover {
    background: #242424;
} 
/*teste de grid*/
.grid-index {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6vh 70vh 20vh;
    grid-template-areas: 
    "header"
    "main"
    "footer"
    ;
    grid-row-gap: 10px;
}
header {
    background-color: red;
    grid-area: header;
}
main {
    background-color: #242424;
    grid-area: main;
}
footer {
    background-color: aqua;
    grid-area: footer;
}

/* Barra de navegação */

nav {
    
}
nav ul {
    
}
nav ul li {
    display: inline;
    list-style: none;
}
nav ul li a {
    color: #ffffff;
    text-decoration: none;
}
/* para testes de conteudo*/
