/*modelo do index grid*/

body {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: auto minmax(auto, 500px) auto auto;
    grid-template-areas: 
    "header"
    "landing"
    "main"
    "footer"
    ;
    align-content: stretch;
    justify-content: stretch;
    overflow-x: hidden;
}
header {
    grid-area: header;
}

.landing {
    background-color: #242424; 
    grid-area: landing;
}
main {
    grid-area: main;
}
footer {
    grid-area: footer;
} 
/*lv = section 
object-fit: cover;
overflow: hidden;
*/
.landingb {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.landingb video {
    object-fit: cover;
    width: 100%;
    filter: blur(3px);
}
.landingb .texto {
    position: absolute;
    color: #fff;
    z-index: 1;
    margin: 0 auto;
    text-align: center;
}
/*main*/
/* para testes de conteudo*/
.grande {
    height: 1800px;
}
main {
    height: 1800px;
    background-color: var(--background-color);
}

/*ideias
masking css para logo
*/