/*modelo do cmt grid*/
body {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "header"
    "main"
    "footer"
    ;
    align-content: stretch;
    justify-content: stretch;
    overflow-x: hidden;
}
header {
    grid-area: header;
}
.landing {
    background-color: #242424; 
    grid-area: landing;
}
main {
    grid-area: main;
}
footer {
    grid-area: footer;
}
/*main*/
main {
    background-color: white;
}

.web-title{
    color: var(--body-text-color);
    text-align: center;
    width: 100%;
    margin-top: 7rem;
}
/*Main sections*/
section h2{
    margin-left: 2rem;
    margin-bottom: 1rem;
    padding-top: 4rem;
}

.section-1{
    background-color: hsl(0 0% 97%);
}

.div-style{
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
    align-items: center;
    margin: 2rem 3rem 0rem 3rem;
    padding-bottom: 4rem;
}

.div-style img{
    width: 20rem;
    border-radius: 1rem;
}

.div-style p{
    font-size: 1.25rem;
    text-align: center;
    line-height: 2rem;
}

.divider-1{
    height: 1px;
    background: linear-gradient(90deg, var(--logo-color) 0%, rgba(255,255,255,0) 100%);
}

.divider-2{
    height: 1px;
    background: linear-gradient(270deg, var(--logo-color) 0%, rgba(255,255,255,0) 100%);
}

