body {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "header"
    "main"
    "footer"
    ;
    align-content: stretch;
    justify-content: stretch;
    overflow-x: hidden;
}
header {
    grid-area: header;
}
main {
    grid-area: main;
    background-color: var(--background-color);
}
footer {
    grid-area: footer;
}
.web-title{
    color: var(--body-text-color);
    text-align: center;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 7rem;
    font-size: 1.5rem;
}

.sub-title{
    margin: 1.5rem 2rem 1rem 2rem ;
    font-size: 1.25rem;
    font-weight: 600;
}

.ret1{
    display: grid;
    text-align: center;
    background-color: var(--background-color);
}
.ret2{
    display: grid;
    text-align: center;
    background-color: var(--background-color2);
}

.fileira1{
    display: grid;
    width: 100%;
}

.div-style{
    gap: 1rem;
    align-items: center;
    width: 100%;
    padding-bottom: 2rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.div-style p{
    font-size: 1.25rem;
    text-align: center;
    line-height: 2rem;
    padding-bottom: 1.25rem;
}

.div-style figure img{
    width: 20rem;
    border-radius: 1rem;
}

.div-style figure figcaption{
    padding-top: 0.5rem;
}

.div-style figure figcaption a{
    color: black;
    background-color: var(--button-color);
    padding: 0.3rem;
    border: 0.15em solid black;
    border-radius: 1rem;
    font-weight: 500;
    transition: all 0.3s ease;
}

.div-style figure figcaption a:hover{
    color: var(--header-text-color);
    background-color: hsl(var(--hue) 100% 60%);
    padding: 0.5rem;
}

.divider-1{
    height: 1px;
    background: linear-gradient(90deg, var(--logo-color) 0%, rgba(255,255,255,0) 100%);
}
.divider-2{
    height: 1px;
    background: linear-gradient(270deg, var(--logo-color) 0%, rgba(255,255,255,0) 100%);
}
.divider-3{
    height: 1px;
    background: linear-gradient(90deg, var(--logo-color) 0%, rgba(255,255,255,0) 100%);
}
.divider-4{
    height: 1px;
    background: linear-gradient(270deg, var(--logo-color) 0%, rgba(255,255,255,0) 100%);
}

.img-pt:hover {
    vertical-align: middle;
    border-style: none;
    width: 100%;
    height: auto;
    transform: scale(0.8);
    transition: all 0.3s;
}

/* medium devices: 400 > */
@media (min-width: 400px){
    .web-title{
        font-size: 2rem;
    }
}
  
/* medium devices: 767 > */
@media (min-width: 767px){
    .web-title{
        font-size: 2.25rem;
    }
    .sub-title{
        font-size: 1.7rem;
    }
    .div-style p{
        font-size: 1.5rem;
    }
    .div-style figure{
        display: flex;
        flex-direction: column;
    }
    .div-style figure img{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1rem;
        width: 70%;
    }
    .div-style figure figcaption a{
        padding: 0.3rem;
        font-size: 1.25rem;
        font-weight: 500;
    }
}

/* large devices: 992 > */
@media (min-width: 992px){
    /* SEM NECESSIDADE DE ALTERAÇÃO*/
}

/* large devices: 1023 > */
@media (min-width: 1023px){
    .divider-1{
        visibility: hidden;
    }
    .divider-2{
        visibility: hidden;
    }
    .ret1{
        display: flex;
        width: 100%;
        grid-auto-flow: column;
    }
    .ret2{
        display: flex;
        width: 100%;
        grid-auto-flow: column;
    }
    .fileira1{
        width: 50%;
    }
    .fileira2{
        width: 50%;
    }
    .web-title{
        font-size: 2rem;
    }
    .sub-title{
        font-size: 1.5rem;
    }
    .fileira1{
        display: grid;
        align-content: stretch;
    }
    .fileira2{
        display: grid;
        align-content: stretch;
    }
    .div-style{
        display: grid;
        align-content: stretch;
        gap: 0rem;
    }
    .div-style p{
        font-size: 1.25rem;
    }
    .div-style figure{
        display: grid;
        height: 100%;
        align-content: stretch;
    }
    .div-style figure img{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1rem;
        width: 50%;
    }
    .div-style figure figcaption a{
        padding: 0.3rem;
        font-size: 1.1rem;
        font-weight: 500;
    }
}